@{
    ViewBag.Title = "Home Page";
}

<center><h1 style="color:rebeccapurple; text-decoration:underline">Welcome to Platinum supplies.</h1></center>

@*<a href="/email/SendUpdateTrendsEmail" class="btn btn-primary">SendUpdateTrendsEmail</a>*@



<!--#region test this  -->

@*<a href="/sku/UploadKWAsync" class="btn btn-primary">excel test</a>


<div class="col-md-6 col-md-offset-3 well" style="background-color:red;">
    <form method="post" action="/sku/UploadExcel" enctype="multipart/form-data">
        <input type="file" name="fileImage" />
        <br />
        <button class="btn alert-danger form-control">Submit</button>
    </form>
</div>*@

<!--#endregion -->